* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Trajan_Pro_Bold";
  src: url("../fonts/Trajan_Pro_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "varsity_regular";
  src: url("../fonts/varsity_regular.ttf") format("truetype");
}
:root,
html {
  font-family: "varsity_regular", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #9b3a23;
  --colorSecondary: #03045e;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 80px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--colorPrimary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  /* display: none; */
}

/* Overview */
/* Highlights */
.highlights li {
  font-size: 1.1em;
  text-decoration: none;
  list-style: none;
  line-height: 0.5em;
  padding: 5px 0;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .highlights li {
    line-height: 1.1em;
  }
}

.fa-square-check {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 30px;
}

.overview_img img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.section_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.heading_design {
  width: 200px;
}
.overview_para {
  text-align: justify;
  font-size: 1.1rem;
}
/* Gallery */
.gal-img {
  /* width: 19em !important; */
  height: 200px;
}
.gal-img img {
  width: 100% !important;
  height: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Configuration */
.config-block .row {
  justify-content: center;
}

.config-inner {
  text-align: center;
  font-weight: normal;
  min-height: 150px;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  -moz-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  border-radius: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.config-price {
  background: var(--colorPrimary);
  width: 75%;
  margin: 15px auto;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 15px 0px;
  font-size: 18px;
}

.config-price a {
  text-decoration: none;
  color: var(--colorWhite);
}

.config-inner p {
  font-size: 1.1em;
}

/* Amenities */

figure.fig_img {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
figure.fig_img *,
figure.fig_img *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.fig_img img {
  max-width: 100%;
  position: relative;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
figure.fig_img figcaption {
  position: absolute;
  width: 100%;
  background: #000000;
  top: 50%;
  -webkit-transform: scaleY(0.1) translateY(-50%);
  transform: scaleY(0.1) translateY(-50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  opacity: 0;
}
figure.fig_img h3 {
  color: #ffffff;
  opacity: 0;
  padding: 12px 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
}

figure.fig_img h3 span {
  font-weight: 800;
}

figure.fig_img a:hover {
  opacity: 1;
}
figure.fig_img.blue h3 {
  background: #0a212f;
}
figure.fig_img.blue:after {
  background-color: #0a212f;
}
figure.fig_img.red h3 {
  background: #36100c;
}
figure.fig_img.red:after {
  background-color: #36100c;
}
figure.fig_img.yellow h3 {
  background: #562e0a;
}
figure.fig_img.yellow:after {
  background-color: #562e0a;
}
figure.fig_img:hover img,
figure.fig_img.hover img {
  opacity: 0.3;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.fig_img:hover figcaption,
figure.fig_img.hover figcaption {
  -webkit-transform: scaleY(1) translateY(-50%);
  transform: scaleY(1) translateY(-50%);
  opacity: 1;
}
figure.fig_img:hover h3,
figure.fig_img.hover h3 {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Location */

.nav-link.ami-tab {
  background-color: transparent;
  color: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  border-radius: 0;
}
.nav-link.ami-tab.active {
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
}
.location_features_section .nav-item {
  border: none;
}

.info-location {
  font-size: 2rem !important;
  padding: 0;
  margin: 0;
}

.location-features i {
  color: var(--colorPrimary);
}
.location-features .row .col {
  font-size: 1.9rem !important;
}

.locfec {
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .location_features_section .nav-item {
    width: 100%;
  }
}
.map_card iframe {
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* About */
#about_section {
  background-color: var(--colorPrimary);
  /* background: url(../img/backgrounds/ftbg.jpg); */
  background-repeat: repeat;
  /* background-size: cover; */
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}
img.img-fluid.p-2.scale-up-center {
  height: 50px !important;
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
}
